.decorator-programmingLanguage {
  background: linear-gradient(
    135deg,
    var(--dark-cornflower-blue),
    var(--cerulean-blue)
  );
  padding: 5px 6px 1px 6px;
  border-radius: 3px;
  color: white;
}

.decorator-programmingFrameworks {
  background: linear-gradient(
    135deg,
    var(--cinnamon-satin),
    var(--dark-rose-red)
  );
  padding: 5px 6px 1px 6px;
  border-radius: 3px;
  color: white;
}

.frontpage-header {
  margin-bottom: 4em;
}

.frontpage-meta {
  background: #efefef;
  padding: 4em 0;
  margin: 4em 0;
}
